@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md P_Main">
                <center>
                    <img src="~/Content/img/icons/download.png" style="padding: 20px;" width="100" />
                    <p style="font-size: 20px;">دریافت فایل</p>
                    <p style="height: 40px;">دراین قسمت شما میتوانید فایل های مربوط به بروز رسانی برنامه هایتان را دریافت کنید</p>
                    <div style="border-top: 2px solid #eb8121;margin: 0px 10px 0px 10px;"></div>
                    <a class="btn btn-warning B_Main" href="@Url.Action("CustomerFiles","Home")" id="t_CustomerFiles">تعداد فایل های موجود : 0</a>
                </center>
            </div>
            <div class="col-md P_Main">
                <center>
                    <img src="~/Content/img/icons/upload.png" style="padding: 20px;" width="100" />
                    <p style="font-size: 20px;">ارسال فایل</p>
                    <p style="height: 40px;">با استفاده از این قسمت می توانید فایل هایی از قبیل نسخه های پشتیبان خود را برای ما ارسال کنید </p>
                    <div style="border-top: 2px solid #eb8121;margin: 0px 10px 0px 10px;"></div>
                    <a class="btn btn-warning B_Main" href="@Url.Action("UploadFiles","Home")">ارسال فایل به کاربرد کامپیوتر</a>
                </center>
            </div>
            <div class="col P_Main">
                <center>
                    <img src="~/Content/img/icons/file.png" style="padding: 20px;" width="100" />
                    <p style="font-size: 20px;">اسناد فروش</p>
                    <p style="height: 40px;">اسناد تنظیم شده از طرف شرکت برای شما در این بخش قرار می گیرد</p>
                    <div style="border-top: 2px solid #eb8121;margin: 0px 10px 0px 10px;"></div>
                    <a class="btn btn-warning B_Main" href="@Url.Action("FinancialDocuments","Home")">برای ادامه کلیک کنید</a>
                </center>
            </div>
            <div class="w-100"></div>
            <div class="col P_Main">
                <center>
                    <img src="~/Content/img/icons/question.png" style="padding: 20px;" width="100" />
                    <p style="font-size: 20px;">سوالات متداول</p>
                    <p style="height: 40px;">بدون نیاز به تماس با شرکت جواب سوالات متدوال خود را بیابید</p>
                    <div style="border-top: 2px solid #eb8121;margin: 0px 10px 0px 10px;"></div>
                    <a class="btn btn-warning B_Main" href="@Url.Action("FAQ","Home")">برای ادامه کلیک کنید</a>
                </center>
            </div>
            <div class="col P_Main">
                <center>
                    <img src="~/Content/img/icons/team-viewer.png" style="padding: 20px;" width="100" />
                    <p style="font-size: 20px;">تیکت پشتیبانی</p>
                    <p style="height: 40px;">ارتباط با شرکت از طریق تیکت پشتیبانی</p>
                    <div style="border-top: 2px solid #eb8121;margin: 0px 10px 0px 10px;"></div>
                    <a class="btn btn-warning B_Main" href="@Url.Action("Tiket","Home")">برای ادامه کلیک کنید</a>
                </center>
            </div>

            <!--<div class="col P_Main"></div>-->
        </div>
    </div>
    <div class="col-md" style="border: 1px solid #999999;border-radius: 25px;padding: 20px; margin-right: 20px;">
        <p style="font-size: 20px;">قابلیت جدید:</p>
        <div style="border-top: 2px solid #eb8121;"></div>

        <div class="row" style="margin-top: 15px;">
            <div class="DotText"></div>
            <p class="col-md" style="font-size: 13px;">با وارد کردن پست الکترونیک خود از وجود فایل بروزرسانی برای دریافت مطلع شوید</p>
        </div>

        <div class="row" style="margin-top: 15px;">
            <div class="DotText"></div>
            <p class="col-md" style="font-size: 13px;">بازیابی کلمه عبور در صورت فراموش کردن بوسیله پست الکترونیک</p>
        </div>

    </div>
</div>

@section scripts{
    <script src="~/Scripts/Index.js?dt=@(Support.Controllers.Unit.UnitPublic.titleVerNumber)"></script>
}