<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="PRAGMA" content="NO-CACHE">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title id="titlePage">@ViewBag.Title</title>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/materialize.min.css" rel="stylesheet" />
    <link href="~/Content/css/style.css?dt=@(Support.Controllers.Unit.UnitPublic.titleVerNumber)" rel="stylesheet" />
    <link href="~/Content/js/jquery ui/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/js/jquery.md.bootstrap.datetimepicker.style.css" rel="stylesheet" />
    <link href="~/Content/css/stimulsoft.viewer.office2013.whiteblue.css" rel="stylesheet" />
    <link href="~/Content/css/stimulsoft.designer.office2013.whiteblue.css" rel="stylesheet" />
</head>
<body class="light rtlSite" ondragstart="return false;" ondrop="return false;">

    <div id="loadingsite" class="page-loader-wrapper">
        <div class="loader">
            <div class="m-t-30">
                <img class="loading-img-spin" src="~/Content/loading1.png" width="20" height="20" alt="admin">
            </div>
            <p data-bind="text:'لطفا منتظر بمانید'"></p>
        </div>
    </div>


    <div class="row continerHead">


        <img src="~/Content/img/LogoTop.png" class="logoTop" height="100" width="100" />
        <div class="col">
            <div class="TilteTop notApp">
                <p id="Index_TextLogo" style="font-size: 16px;color:#082b44">داشبورد من</p>
                <div style="border-top: 2px solid #eb8121;width: 200px"></div>
            </div>
        </div>


        <div class="col LeftButtomMenu">
            <div class="row" style="float: left;">
                <!--<img id="Index_Pic_line1" src="~/Content/img/Icon_Blue/Line.png" style="height: 30px;padding: 5px 8px 5px 8px;" />-->

                <a href="@Url.Action("Index","Home")" id="Index_TextBack">
                    <img id="Index_Home" src="~/Content/img/Icon_Blue/Home.png" style="height: 30px;" />
                </a>
                <img id="Index_Pic_line2" src="~/Content/img/Icon_Blue/Line.png" style="height: 30px;padding: 5px 8px 5px 8px;" />

                <!--<a href="@Url.Action("User","Home")">
                    <img id="Index_User" src="~/Content/img/Icon_Blue/User.png" style="height: 30px;" />
                </a>-->





                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                    <img id="Index_User" src="~/Content/img/Icon_Blue/User.png" width="30" height="30">
                </a>
                <ul class="dropdown-menu" style="margin-left: 10px; width:250px;border-radius: 20px;">
                    <li class="body">
                        <ul class="user_dw_menu" style="padding-right:0px">
                            <li style="width: 100%;">
                                <div class="row" style="padding:15px; padding-top:25px;background-color: #dcdcdc;">
                                    <div class="col-sm-12">
                                        <a href="@Url.Action("User","Home")" id="BM_InformationCompany" class="btn btn-primary btn-block" style="background-color: #eb8121 !important;border-radius: 10px;margin-bottom: 10px;color: #082b44;">اطلاعات شرکت</a>
                                    </div>
                                    <div class="col-sm-12">
                                        <a href="@Url.Action("ChangePassword","Home")" id="BM_ChangePassword" class="btn btn-primary btn-block" style="background-color: #eb8121 !important;border-radius: 10px;margin-bottom: 10px;color: #082b44;">تغییر کلمه عبور</a>
                                    </div>
                                    <div class="col-sm-12">
                                        <a id="LogOut" class="btn btn-primary btn-block" style="background-color: #eb8121 !important;border-radius: 10px;margin-bottom: 10px;color: #082b44;">خروج</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>


                <!--<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                    <img id="Index_User" src="~/Content/img/Icon_Blue/User.png" width="30" height="30">
                </a>
                <ul class="dropdown-menu pullDown" style="margin-left: 10px; width:250px;border-radius: 20px;">
                    <li class="body">
                        <ul class="user_dw_menu" style="padding-right:0px">
                            <li style="width: 100%;">
                                <div class="row" style="padding:15px; padding-top:25px;background-color: #dcdcdc;">
                                    <div class="col-sm-12">
                                        <a href="@Url.Action("User","Home")" class="btn btn-primary btn-block" style="background-color: #eb8121 !important;border-radius: 10px;margin-bottom: 10px;color: #082b44;">اطلاعات شرکت</a>
                                    </div>
                                    <div class="col-sm-12">
                                    <a href="@Url.Action("MailBox","Home")" class="btn btn-primary btn-block" style="background-color: #eb8121 !important;border-radius: 10px;margin-bottom: 10px;color: #082b44;">ارتباط با بخش فروش</a>
                                </div>
                                    <div class="col-sm-12">
                                        <a href="@Url.Action("ChangePassword","Home")" class="btn btn-primary btn-block" style="background-color: #eb8121 !important;border-radius: 10px;margin-bottom: 10px;color: #082b44;">تغییر کلمه عبور</a>
                                    </div>
                                    <div class="col-sm-12">
                                        <a id="LogOut" class="btn btn-primary btn-block" style="background-color: #eb8121 !important;border-radius: 10px;margin-bottom: 10px;color: #082b44;">خروج</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>-->
                <!--<img src="~/Content/img/icons/Line 11.png" style="height: 30px;padding: 5px 8px 5px 8px;" />
                <a href="@Url.Action("Login","Home")">
                    <img src="~/Content/img/icons/power-off.png" style="height: 30px;" />
                </a>-->
            </div>
        </div>

    </div>

    <div class="continerMain">
        <div class="container-fluid">
            @RenderBody()
        </div>
    </div>






    <div class="modal fade" id="modal-Report" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true" dir="ltr" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                </div>
                <div class="modal-body">
                    <div style="height:500px;overflow:auto;border: 1px #ddd solid;">
                    </div>
                </div>
                <div style="padding: 0px; margin: 10px;">
                    <div class="row">
                    </div>
                </div>
            </div>
        </div>

        <div id="designerContent"></div>
        <div id="viewerContent"></div>
    </div>



    <div class="modal fade" id="modal-Comm" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" id="modal-dialogComm" style="top: 150px;">
            <div class="modal-content" style="font-size:14px">
                <div class="modal-header" style="padding-bottom: 0px;">
                    <div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <a id="minMaxComm">
                            <img id="imgComm" src="" style="width:16px">
                        </a>
                    </div>
                    <h4 class="modal-title" id="titleComm">توضیحات</h4>
                    <div>

                    </div>

                </div>
                <div class="modal-body">
                   <!-- <textarea id="commPublic" rows="20" class="form-control no-resize auto-growth string autocomplete" style="text-align:justify" readonly></textarea>-->

                    <div>
                        <p id="ResultSt" style="height:150px;overflow: auto;padding: 10px;"></p>
                        <div id="LinkSt"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>



    <script type="text/javascript">
        sessionStorage.versionTitle = '@(Support.Controllers.Unit.UnitPublic.titleVer)';
        localStorage.setItem("urlLogin", '@Url.Action("Login", "Home")');
        localStorage.setItem("Group_Ticket", @(Support.Controllers.Unit.UnitPublic.sql_Group_Ticket) );
        localStorage.setItem("Group_CustAccount",@(Support.Controllers.Unit.UnitPublic.sql_Group_CustAccount)  );
        localStorage.setItem("urlLogin", '@Url.Action("Login", "Home")');
    </script>

    <script src="~/Content/js/app.min.js"></script>
    <script src="~/Content/js/admin.js"></script>
    <script src="~/Content/js/knockout-3.5.0.js"></script>
    <script src="~/Content/js/sweet2.js?dt=@(Support.Controllers.Unit.UnitPublic.titleVerNumber)"></script>
    <script src="~/Scripts/app.js"></script>
    <script src="~/Scripts/PublicAFI.js?dt=@(Support.Controllers.Unit.UnitPublic.titleVerNumber)"></script>
    <script src="~/Content/js/jalaali.js"></script>
    <script src="~/Content/js/stimulsoft.reports.js?dt=@(Support.Controllers.Unit.UnitPublic.titleVerNumber)"></script>
    <script src="~/Content/js/stimulsoft.viewer.js?dt=@(Support.Controllers.Unit.UnitPublic.titleVerNumber)"></script>
    <script src="~/Content/js/stimulsoft.designer.js?dt=@(Support.Controllers.Unit.UnitPublic.titleVerNumber)"></script>
    <script src="~/Content/js/num2persian-min.js?dt=@(Support.Controllers.Unit.UnitPublic.titleVerNumber)"></script>
    <script src="~/Scripts/shamsi.js?dt=@(Support.Controllers.Unit.UnitPublic.titleVerNumber)"></script>
    @RenderSection("scripts", false)



</body>
</html>
